# Emacs temp files.
*~

# npm files.
node_modules/

# Log files.
*.log

# Config file.
config.js

# My TODO list for tasks.
TODO.txt

# Image files
live-chain-of-command.png
sample-chain-of-command-tmp.png
elevation.png

# Sensitive token file.
bearer-token.js

# Data files from crawling - not checked into git.
*.tsv

# Weird temp files.
\#*
.#*

temp-ranks.txt
trump-cards/*
trump-price.csv
