# Emacs temp files.
*~

# Node and NPM files.
node_modules/
package-lock.json
*.log

# Config file.
config.js

# My TODO list for tasks.
TODO.txt

# Image files
live-chain-of-command.png
sample-chain-of-command-tmp.png

# Sensitive token file.
bearer-token.js

# Data files from crawling - not checked into git.
*.tsv
