body {
  background-color: #212121;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}


@keyframes expand-card {
  from {
    height: 32px;
    width: initial;
  }
  to {
    height: 64px;
    width: 280px;
  }
}

.collapsible-card {
  transition: max-width 0.2s, height 0.2s;
  background-color: #36393E;
  border-radius: 8px;
  height: 32px;
  margin: 8px;
  max-width: 320px;
  padding: 8px;
  text-align: left;
}

.collapsible-card:hover {
  /*animation: expand-card 1s forwards;*/
  height: 64px;
  max-width: 200px;
}

.name-label {
  color: #CCC;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}

.single-column {
  background-color: #2E3136;
  height: 100%;
  margin: 0 auto;
  overflow: auto; /* Prevents the top margins from collapsing. */
  text-align: center;
  width: 320px;
}

.smallicon {
  border-radius: 4px;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}
