body {
  background-color: #212121;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

.single-column {
  background-color: #2E3136;
  height: 100%;
  margin: 0 auto;
  overflow: auto; /* Prevents the top margins from collapsing. */
  text-align: center;
  width: 320px;
}
